@mixin slider-nav-1 {
  &__prev,
  &__next {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    @include shadow("");
    transition: 0.3s ease-out;

    &:hover {
      @include shadow("");
      transform: translateY(-50%) scale(1.2);
    }

    &:focus {
      outline: 0;
    }
  }

  &__next {
    left: auto;
    right: 3%;
  }

  &:hover &__prev,
  &:hover &__next {
    background-color: rgba(#fff, 1);
  }

  @media (min-width: 1200px) {
    &__prev {
      left: 0;
      opacity: 0;
    }

    &__next {
      right: 0;
      opacity: 0;
    }

    &:hover &__prev {
      left: 3%;
      opacity: 1;
    }

    &:hover &__next {
      right: 3%;
      opacity: 1;
    }
  }

  @media (max-width: 575px) {
    &__prev,
    &__next {
      background-color: rgba(#fff, 0.5);
    }
  }
}

@mixin slider-nav-2 {
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $border-color;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-out;

    &:hover {
      @include shadow("");
      transform: translate(-50%, -50%) scale(1.2);
    }

    &:focus {
      outline: 0;
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  &__next {
    left: 100%;
  }
}

@mixin slider-nav-3 {
  &__prev,
  &__next {
    padding: 10px 5px;
    color: $secondary;
    font-size: 24px;
    line-height: 1;
    color: $primary;
    position: absolute;
    top: 50%;
    left: -40px;
    z-index: 10;
    transform: translateY(-50%);
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  &__next {
    left: auto;
    right: -40px;
  }

  @media (max-width: 575px) {
    &__prev,
    &__next {
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding: 0;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border: 1px solid $border-color;
      font-size: 18px;
      line-height: 1;
    }

    &__prev {
      left: -15px;
    }

    &__next {
      right: -15px;
    }
  }
}

.news-slider {
  position: relative;

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid $white;
      background: 0;
      opacity: 1;

      &:not(:last-child) {
        margin-right: 14px;
      }

      &-active {
        background-color: $white;
      }
    }
  }
}

.partner-slider {
  position: relative;
  z-index: 1;

  .swiper-wrapper {
    height: auto;
  }

  @include slider-nav-2;

  @include media-breakpoint-up(xl) {
    &__prev {
      left: -40px;
    }

    &__next {
      right: -40px;
    }
  }
}

.banner-slider {
  position: relative;
  z-index: 1;

  .swiper-wrapper {
    height: auto;
  }

  .swiper-slide {
    height: auto;
  }

  &__frame {
    display: flex;

    img {
      display: block;
      width: 100%;
    }
  }

  &__pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background-color: #B6B6B6;
      border-radius: 50%;
      opacity: 1;
      margin: 10px 0;

      &:last-child {
        margin-bottom: 0;
      }

      &-active {
        position: relative;
        margin-bottom: 100px;
        width: 35px;
        height: 35px;
        border: 1px solid #B6B6B6;
        padding: 10px;
        background-clip: content-box;
        margin-top: 90px;
        margin-bottom: 90px;

        &::before,
        &::after {
          content: '';
          display: block;
          width: 2px;
          height: 50px;
          background-color: #B6B6B6;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 25px);
        }

        &::before {
          top: auto;
          bottom: 100%;
          transform: translate(-50%, -25px);
        }

        &:first-child {
          margin-top: 0;

          &::before {
            display: none;
          }
        }

        &:last-child {
          margin-bottom: 0;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    margin-top: -70px;
  }

  @include media-breakpoint-up(xxl) {
    margin-top: -84px;
  }
}
